{% extends 'base1.html' %}

{% load static %}

{% block title %}Web上に本のレビューを保存できるサービス | Book Review{% endblock %}

{% block header %}

        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">Book Review</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">本のレビューサイト</h2>
                        {% if user.is_authenticated %}
                        <a class="btn btn-primary" href="{% url 'account_login' %}">マイレビュー</a>
                        {% else %}
                        <a class="btn btn-primary" href="{% url 'account_login' %}">ログイン</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>

{% endblock %}

{% block contents %}
        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">みんなへ</h2>
                        <p class="text-white-50">
                            不具合等お気づきの点があればLINEにて報告をお願いします。
                        </p>
                    </div>
                </div>
                <!-- <img class="img-fluid" src="{% static 'assets/img/ipad.png' %}" alt="..." /> -->
            </div>
        </section>
        
{% endblock %}